<h1> {{ nombre }} </h1>

<dl>
  <td>Nombre: </td>
  <dd>{{ nombre }}</dd>

  <td>Edad: </td>
  <dd>{{ edad }}</dd>

  <td>Funcion: </td>
  <dd>{{ obtenerNombre() }}</dd>

  <td>Capitalizado: </td>
  <dd>{{ nombreCapitalizado }}</dd>
</dl>

<button
*ngIf="nombre !== 'Spiderman'"
class="btn btn-primary" (click)="cambiarNombre()">
  Cambiar Héroe
</button>

<button
*ngIf="edad !== 30"
class="btn btn-primary" (click)="cambiarEdad()">
  Cambiar edad
</button>

<button
class="btn btn-primary mx-2" (click)="resetForm()">
  Reset
</button>
