<h3>Agregar <small>{{ nuevo.nombre }}</small></h3>
<!-- <hr> -->

<form (ngSubmit)="agregar()" class="row">
  <input
    type="text"
    placeholder="Nombre"
    name="nombre"
    [(ngModel)]="nuevo.nombre"
    class="form-control mb-2"
  />

  <!-- [value]="nuevo.nombre"
  (input)="cambiarNombre( $event )" -->

  <input
    type="number"
    placeholder="Poder"
    name="poder"
    [(ngModel)]="nuevo.poder"
    class="form-control mb-2"
  />

  <button class="btn btn-primary" type="submit">
    Agregar
  </button>

  <pre>{{nuevo | json}}</pre>
</form>
